<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>We Talk</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <!-- 注意script不是自闭合标签，所以这里一定要有闭合标签，不要直接在最后用'/>' -->
    <script type="text/javascript" th:src="@{/plugins/jquery/jquery-3.4.1.min.js}" ></script>

    <style type="text/css">
        .area-border{
            border: solid 1px green;
        }
        .left{
            float: left;
        }
        .right{
            float: right;
        }
        .tool-bar{
            height: 30px;
            width: 100%;
        }
        .msg-pool{
            height: 400px;
            width: 100%;
            overflow-y: scroll;
        }
        .msg-input{
            height: 150px;
            width: 100%;
            overflow-y: scroll;
        }
    </style>
</head>
<body>
    <div class="area-border tool-bar">
        <input type="button" name="logoutBtn" th:value="注销" class="right" onclick="logout()" />
    </div>

    <div class="area-border">
        <div id="msgPool" class="msg-pool"></div>
    </div>

    <div class="area-border">
        <textarea id="msgContainer" class="msg-input"></textarea>
        <input type="button" name="sendBtn" th:value="发送" onclick="sendMsg()" />
    </div>

</body>
</html>
<script type="text/javascript">
    //全局变量
    var webSocket = null;
    var msgPool = $("#msgPool");
    var msgContainer = $("#msgContainer");

    $(document).ready(function () {
        //建立WebSocket连接
        initWebSocket();

    });

    //建立WebSocket连接
    function initWebSocket() {
        var serverHost = "ws://localhost:8080/wetalk/server";

        if ('WebSocket' in window) {
            webSocket = new WebSocket(serverHost);
        } else if ('MozWebSocket' in window) {
            webSocket = new MozWebSocket(serverHost);
        } else {
            alter('Error: 浏览器不支持WebSocket');
            return;
        }

        //连接成功后的回调函数
        webSocket.onopen = function() {
            alert("客户端连接服务器成功！");
        };

        //当从服务器接受到信息时的回调函数
        webSocket.onmessage = function (event) {
            //alert("接收服务器信息成功！");
            var acceptMsg = event.data;
            var msgUnit = $("<div>接收消息：" + acceptMsg + "</div>");
            msgPool.append(msgUnit);
        };

        //连接失败后的回调函数
        webSocket.onerror = function () {
            alert("连接失败！");
        };

        //连接关闭后的回调函数
        webSocket.onclose = function () {
            alert("连接关闭！");
        };

        //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
        window.onbeforeunload = function (ev) {
            closeWebSocket();
        }

    }

    //关闭WebSocket连接
    function closeWebSocket() {
        if(webSocket != null){
            webSocket.close();
        }
    }

    //发送信息
    function sendMsg() {
        //获取并校验信息
        var msg = msgContainer.val();
        if(!msg){
            alert("发送信息不能为空！");
            return;
        }

        if(webSocket == null){
            alert("未与服务器建立连接！");
            return;
        }
        if(webSocket.readyState != WebSocket.OPEN){
            alert("与服务器连接已断开！");
            return;
        }

        //发送信息
        webSocket.send(msg);

        //清空
        msgContainer.val("");

        //放入消息框
        var msgUnit = $("<div>发送消息：" + msg + "</div>")
        msgPool.append(msgUnit);
    }

    //注销
    function logout() {
        closeWebSocket();
    }

</script>